@if (viewMode){
    @if (currentAeronave.id){
    <h4>Aeronave</h4>
    <div>
      <label><strong>Prefixo:</strong></label> {{ currentAeronave.prefixo }}
    </div>
    <div>
      <label><strong>Combustível:</strong></label>
      {{ currentAeronave.combustivel }}
    </div>
  
    <a class="badge badge-warning" routerLink="/aeronave/{{ currentAeronave.id }}">
      Editar
    </a>
    } @else {<p>Selecione uma Aeronave...</p>}
  } @else {
    @if (currentAeronave.id) {
        <div class="login">
            <div class="login-content">
    <div class="edit-form">
      <h4>Edição de Aeronave</h4>
      <form
          name="form"
          #f="ngForm"
          novalidate
        >
        <div class="mb-3">
            <label for="idEmpresa">Empresa</label>
            <select id="selectTipoCliente"
              class="form-control"
              name="idEmpresa"
              [(ngModel)]="currentAeronave.idEmpresa"
              #idEmpresa="ngModel"
            >
            <option id="opcoesSelect" *ngFor="let empresa of dropdownData" [value]="empresa.idEmpresa">{{ empresa.nome }}</option>

          </select>
            @if (idEmpresa.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idEmpresa.errors['required']) {
              <div>Empresa é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="prefixo">Prefixo</label>
            <input
              type="text"
              class="form-control"
              name="prefixo"
              [(ngModel)]="currentAeronave.prefixo"
              required
              minlength="3"
              #prefixo="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && prefixo.errors }"
            />
            @if (prefixo.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (prefixo.errors['required']) {
              <div>O Prefixo é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="combustivel">Combustível</label>
            <input
              type="text"
              class="form-control"
              name="combustivel"
              [(ngModel)]="currentAeronave.combustivel"
              required
              minlength="3"
              #combustivel="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && combustivel.errors }"
            />
            @if (combustivel.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (combustivel.errors['required']) {
              <div>O Combustível é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="capacidadeDeCarga">Capacidade De Carga</label>
            <input
              type="text"
              class="form-control"
              name="capacidadeDeCarga"
              [(ngModel)]="currentAeronave.capacidadeDeCarga"
              required
              minlength="3"
              #capacidadeDeCarga="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && capacidadeDeCarga.errors }"
            />
            @if (capacidadeDeCarga.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (capacidadeDeCarga.errors['required']) {
              <div>A Capacidade de Carga é obrigatória!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="horimetro">Horimêtro</label>
            <input
              type="text"
              class="form-control"
              name="horimetro"
              [(ngModel)]="currentAeronave.horimetro"
              required
              minlength="3"
              #horimetro="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && horimetro.errors }"
            />
            @if (horimetro.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (horimetro.errors['required']) {
              <div>O Horimêtro é obrigatório!</div>
              }
            </div>
            }
          </div>
        </form>
  
      <button id="btnRemover" class="btn btn-outline-secondary" (click)="deleteAeronave()">
        Remover
      </button>
  
      <button
        type="submit"
        class="btn btn-primary btn-block"
        (click)="updateAeronave()">
        Atualizar
      </button>
      <p>{{ message }}</p>
    </div>
            </div></div>
    } @else {<p>Não foi Possível Visualizar a Aeronave Selecionada...</p>}
  }