@if (viewMode){
    @if (currentAeronave.id){
    <h4>Aeronave</h4>
    <div>
      <label><strong>Prefixo:</strong></label>
       {{ currentAeronave.prefixo }}
    </div>
    <div>
      <label><strong>Modelo:</strong></label>
      {{ currentAeronave.modelo }}
    </div>
  
    <a class="badge badge-warning" routerLink="/aeronave/{{ currentAeronave.id }}">
      Editar
    </a>
    } @else {<p>Selecione uma Aeronave...</p>}
  } @else {
    @if (currentAeronave.id) {
        <div class="login">
            <div class="login-content">
    <div class="edit-form">
      <h4>Edição de Aeronave</h4>
      <form
          name="form"
          #f="ngForm"
          novalidate
        >
        <div class="mb-3">
            <label for="idEmpresa">Fabricante</label>
            <select id="selectTipoCliente"
              class="form-control pointer"
              name="idEmpresa"
              [(ngModel)]="currentAeronave.idEmpresa"
              #idEmpresa="ngModel"
            >
            <option id="opcoesSelect" *ngFor="let empresa of dropdownData" [value]="empresa.idEmpresa">{{ empresa.nome }}</option>

          </select>
            @if (idEmpresa.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idEmpresa.errors['required']) {
              <div>Fabricante é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="prefixo">Prefixo</label>
            <input
              type="text"
              class="form-control"
              name="prefixo"
              [(ngModel)]="currentAeronave.prefixo"
              required
              minlength="3"
              #prefixo="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && prefixo.errors }"
            />
            @if (prefixo.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (prefixo.errors['required']) {
              <div>O Prefixo é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="modelo">Modelo</label>
            <input
              type="text"
              class="form-control"
              name="modelo"
              [(ngModel)]="currentAeronave.modelo"
              required
              minlength="3"
              #modelo="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && modelo.errors }"
            />
            @if (modelo.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (modelo.errors['required']) {
              <div>O Modelo é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="serialNumber">Serial Number</label>
            <input
              type="text"
              class="form-control"
              name="serialNumber"
              [(ngModel)]="currentAeronave.serialNumber"
              required
              minlength="3"
              #serialNumber="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && serialNumber.errors }"
            />
            @if (serialNumber.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (serialNumber.errors['required']) {
              <div>O Serial Number é obrigatória!</div>
              }
            </div>
            }
          </div>
        </form>
  
      <button
        type="submit"
        class="btn btn-primary btn-block"
        (click)="updateAeronave()">
        Atualizar
      </button>

      <button id="btnRemover" class="btn btn-outline-secondary" (click)="deleteAeronave()">
        Remover
      </button>

      <button id="btnVoltar" class="btn btn-outline-secondary" (click)="voltar()">
        Voltar
      </button>
      
      <p>{{ message }}</p>
    </div>
            </div></div>
    } @else {<p>Não foi Possível Visualizar a Aeronave Selecionada...</p>}
  }