<div class="login">
    <div class="login-content">
        @if (!isSuccessful) {
          <h1 class="text-center">Cadastro de Aplicação Contrato</h1>
        <form
          name="form"
          (ngSubmit)="f.form.valid"
          #f="ngForm"
          novalidate
        >
          <div class="mb-3">
            <label for="idAplicacao">Id Aplicação</label>
            <input
              type="text"
              class="form-control"
              name="idAplicacao"
              [(ngModel)]="form.idAplicacao"
              required
              minlength="3"
              maxlength="20"
              #idAplicacao="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idAplicacao.errors }"
            />
            @if (idAplicacao.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idAplicacao.errors['required']) {
              <div>O Id da Aplicação obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="idUF">Id UF</label>
            <input
              type="text"
              class="form-control"
              name="idUF"
              [(ngModel)]="form.idUF"
              required
              minlength="3"
              maxlength="20"
              #idUF="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idUF.errors }"
            />
            @if (idUF.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idUF.errors['required']) {
              <div>O Id da UF é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="idCidade">Id Cidade</label>
            <input
              type="text"
              class="form-control"
              name="idCidade"
              [(ngModel)]="form.idCidade"
              required
              minlength="3"
              maxlength="20"
              #idCidade="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idCidade.errors }"
            />
            @if (idCidade.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idCidade.errors['required']) {
              <div>O Id da Cidade é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="nomeCliente">Nome Cliente</label>
            <input
              type="text"
              class="form-control"
              name="nomeCliente"
              [(ngModel)]="form.nomeCliente"
              required
              minlength="3"
              maxlength="20"
              #nomeCliente="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && nomeCliente.errors }"
            />
            @if (nomeCliente.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (nomeCliente.errors['required']) {
              <div>O Nome do Cliente é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="cpfCliente">Cpf Cliente</label>
            <input
              type="text"
              class="form-control"
              name="cpfCliente"
              [(ngModel)]="form.cpfCliente"
              required
              minlength="3"
              maxlength="20"
              #cpfCliente="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && cpfCliente.errors }"
            />
            @if (cpfCliente.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (cpfCliente.errors['required']) {
              <div>O CPF do Cliente é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="assinatura">Assinatura</label>
            <input
              type="text"
              class="form-control"
              name="assinatura"
              [(ngModel)]="form.assinatura"
              required
              minlength="3"
              maxlength="20"
              #assinatura="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && assinatura.errors }"
            />
            @if (assinatura.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (assinatura.errors['required']) {
              <div>A Assinatura é obrigatória!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <button class="btn btn-primary btn-block">Cadastrar</button>
          </div>
    
          @if (f.submitted && isSignUpFailed) {
          <div class="alert alert-warning">
            Atenção!<br />{{ errorMessage }}
          </div>
          }
        </form>
        } @else {
        <div class="alert alert-success">Cadastro realizado com sucesso!</div>
        }
      </div>
    </div>