@if (viewMode){
    @if (currentAlvoBiologico.id){
    <h4>Aeronave</h4>
    <div>
      <label><strong>Nome:</strong></label> {{ currentAlvoBiologico.nome }}
    </div>
    <div>
      <label><strong>Dose Produto por Hectáre:</strong></label>
      {{ currentAlvoBiologico.doseProdutoPorHectare }}
    </div>
  
    <a class="badge badge-warning" routerLink="/alvoBiologico/{{ currentAlvoBiologico.id }}">
      Editar
    </a>
    } @else {<p>Selecione um Alvo Biológico...</p>}
  } @else {
    @if (currentAlvoBiologico.id) {
        <div class="login">
            <div class="login-content">
    <div class="edit-form">
      <h4>Edição de Alvo Biológico</h4>
      <form
        name="form"
        (ngSubmit)="f.form.valid"
        #f="ngForm"
        novalidate
      >
      <div class="mb-3">
        <label for="idProduto">Produto</label>
        <select id="selectTipoCliente"
          class="form-control"
          name="idProduto"
          [(ngModel)]="currentAlvoBiologico.idProduto"
          #idProduto="ngModel"
        >
        <option id="opcoesSelect" *ngFor="let produto of dropdownData" [value]="produto.id">{{ produto.nome }}</option>

      </select>
        @if (idProduto.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (idProduto.errors['required']) {
          <div>Produto é obrigatório!</div>
          }
        </div>
        }
      </div>
        <div class="mb-3">
          <label for="nome">Nome Alvo Biológico</label>
          <input
            type="text"
            class="form-control"
            name="nome"
            [(ngModel)]="currentAlvoBiologico.nome"
            required
            minlength="3"
            maxlength="20"
            #nome="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && nome.errors }"
          />
          @if (nome.errors && f.submitted) {
          <div class="invalid-feedback">
            @if (nome.errors['required']) {
            <div>O Nome do Alvo Biológico é obrigatório!</div>
            }
          </div>
          }
        </div>
        <div class="mb-3">
          <label for="doseProdutoPorHectare">Dose Produto Por Hectáre</label>
          <input
            type="text"
            class="form-control"
            name="doseProdutoPorHectare"
            [(ngModel)]="currentAlvoBiologico.doseProdutoPorHectare"
            required
            minlength="3"
            maxlength="20"
            #doseProdutoPorHectare="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && doseProdutoPorHectare.errors }"
          />
          @if (doseProdutoPorHectare.errors && f.submitted) {
          <div class="invalid-feedback">
            @if (doseProdutoPorHectare.errors['required']) {
            <div>Informe a Dose Produto Por Hectáre!</div>
            }
          </div>
          }
        </div>
      </form>
  
      <button id="btnRemover" class="btn btn-outline-secondary" (click)="deleteAlvoBiologico()">
        Remover
      </button>
  
      <button
        type="submit"
        class="btn btn-primary btn-block"
        (click)="updateAlvoBiologico()">
        Atualizar
      </button>
      <p>{{ message }}</p>
    </div>
            </div></div>
    } @else {<p>Não foi Possível Visualizar o Alvo Biológico Selecionado...</p>}
  }