<div class="login">
  <div class="login-content">
      @if (!isSuccessful) {
        <h1 class="text-center">Cadastro de Alvo Biológico</h1>
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <div class="mb-3">
        <label for="idProduto">Produto</label>
        <select id="selectTipoCliente"
          class="form-control"
          name="idProduto"
          [(ngModel)]="form.idProduto"
          #idProduto="ngModel"
        >
        <option id="opcoesSelect" *ngFor="let produto of dropdownData" [value]="produto.id">{{ produto.nome }}</option>

      </select>
        @if (idProduto.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (idProduto.errors['required']) {
          <div>Produto é obrigatório!</div>
          }
        </div>
        }
      </div>
        <div class="mb-3">
          <label for="nome">Nome Alvo Biológico</label>
          <input
            type="text"
            class="form-control"
            name="nome"
            [(ngModel)]="form.nome"
            required
            minlength="3"
            maxlength="20"
            #nome="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && nome.errors }"
          />
          @if (nome.errors && f.submitted) {
          <div class="invalid-feedback">
            @if (nome.errors['required']) {
            <div>O Nome do Alvo Biológico é obrigatório!</div>
            }
          </div>
          }
        </div>
        <div class="mb-3">
          <label for="doseProdutoPorHectare">Dose Produto Por Hectáre</label>
          <input
            type="text"
            class="form-control"
            name="doseProdutoPorHectare"
            [(ngModel)]="form.doseProdutoPorHectare"
            required
            minlength="3"
            maxlength="20"
            #doseProdutoPorHectare="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && doseProdutoPorHectare.errors }"
          />
          @if (doseProdutoPorHectare.errors && f.submitted) {
          <div class="invalid-feedback">
            @if (doseProdutoPorHectare.errors['required']) {
            <div>Informe a Dose Produto Por Hectáre!</div>
            }
          </div>
          }
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
          <button id="btnVoltar" class="btn btn-outline-secondary btn-block" (click)="voltar()">Voltar</button>
        </div>
        @if (f.submitted && isSignUpFailed) {
        <div class="alert alert-warning">
          Atenção!<br />{{ errorMessage }}
        </div>
        }
      </form>
      } @else {
      <div class="alert alert-success">Cadastro realizado com sucesso!</div>
      }
    </div>
  </div>