@if (viewMode){
    @if (currentAdjuvante.id){
    <h4>Adjuvante</h4>
    <div>
      <label><strong>Nome:</strong></label> {{ currentAdjuvante.nome }}
    </div>

    <a class="badge badge-warning" routerLink="/adjuvante/{{ currentAdjuvante.id }}">
      Editar
    </a>
    } @else {<p>Selecione um Adjuvante...</p>}
  } @else {
    @if (currentAdjuvante.id) {
        <div class="login">
            <div class="login-content">
    <div class="edit-form">
      <h4>Edição de Adjuvante</h4>
      <form
        name="form"
        (ngSubmit)="f.form.valid"
        #f="ngForm"
        novalidate
      >
        <div class="mb-3">
          <label for="nome">Nome Adjuvante</label>
          <input
            type="text"
            class="form-control"
            name="nome"
            [(ngModel)]="currentAdjuvante.nome"
            required
            minlength="3"
            maxlength="20"
            #nome="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && nome.errors }"
          />
          @if (nome.errors && f.submitted) {
          <div class="invalid-feedback">
            @if (nome.errors['required']) {
            <div>O Nome do Adjuvante é obrigatório!</div>
            }
          </div>
          }
        </div>
      </form>
  
      <button id="btnRemover" class="btn btn-outline-secondary" (click)="deleteAdjuvante()">
        Remover
      </button>
  
      <button
        type="submit"
        class="btn btn-primary btn-block"
        (click)="updateAdjuvante()">
        Atualizar
      </button>
      <p>{{ message }}</p>
    </div>
            </div></div>
    } @else {<p>Não foi Possível Visualizar o Adjuvante Selecionado...</p>}
  }