@if (viewMode){
    @if (currentBula.idBula){
    <h4>Bula</h4>

    <div>
      <label><strong>Nome Produto:</strong></label> {{ currentBula.nomeProduto }}
    </div>
  
    <a class="badge badge-warning" routerLink="/bula/{{ currentBula.idBula }}">
      Editar
    </a>
    } @else {<p>Selecione uma Bula...</p>}
  } @else {
    @if (currentBula.idBula) {
        <div class="login">
            <div class="login-content">
    <div class="edit-form">
      <h4>Edição de Bula</h4>
      <form
      name="form"
      (ngSubmit)="f.form.valid"
      #f="ngForm"
      novalidate
    >
    <div class="mb-3">
      <label for="nomeProduto">Nome Produto</label>
      <input
        type="text"
        class="form-control"
        name="nomeProduto"
        [(ngModel)]="currentBula.nomeProduto"
        required
        minlength="3"
        maxlength="20"
        #nomeProduto="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && nomeProduto.errors }"
      />
      @if (nomeProduto.errors && f.submitted) {
      <div class="invalid-feedback">
        @if (nomeProduto.errors['required']) {
        <div>O Nome Produto é obrigatório!</div>
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="idCultura">Cultura</label>
      <select id="selectTipoCliente"
        class="form-control"
        name="idCultura"
        [(ngModel)]="currentBula.idCultura"
        #idCultura="ngModel"
      >
      <option id="opcoesSelect" *ngFor="let cultura of dropdownDataCultura" [value]="cultura.idCultura">{{ cultura.nome }}</option>

    </select>
      @if (idCultura.errors && f.submitted) {
      <div class="invalid-feedback">
        @if (idCultura.errors['required']) {
        <div>Cultura é obrigatório!</div>
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="idClassificacaoToxicologica">Classificação Toxicológica</label>
      <select id="selectTipoCliente"
        class="form-control"
        name="idClassificacaoToxicologica"
        [(ngModel)]="currentBula.idClassificacaoToxicologica"
        #idClassificacaoToxicologica="ngModel"
      >
      <option [value]="1">Extremamente Tóxicos</option>
      <option [value]="2">Altamente Tóxicos</option>
      <option [value]="3">Moderadamente Tóxicos</option>
      <option [value]="4">Pouco Tóxicos</option>
      <option [value]="5">Improvável De Causar Dano Agudo</option>
      <option [value]="6">Não Classificado</option>
  </select>
      @if (idClassificacaoToxicologica.errors && f.submitted) {
      <div class="invalid-feedback">
        @if (idClassificacaoToxicologica.errors['required']) {
        <div>A Classificação Toxicológica é obrigatório!</div>
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="idClasse">Classe</label>
      <select id="selectTipoCliente"
        class="form-control"
        name="idClasse"
        [(ngModel)]="currentBula.classe"
        #idClasse="ngModel"
      >
      <option [value]="1">Fungicida de Ação Sistêmica dos Grupos QuÍmicos</option>
    </select>
      @if (idClasse.errors && f.submitted) {
      <div class="invalid-feedback">
        @if (idClasse.errors['required']) {
        <div>A Classe é obrigatória!</div>
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="idTipoDeFormulacao">Tipo de Formulação</label>
      <select id="selectTipoCliente"
        class="form-control"
        name="idTipoDeFormulacao"
        [(ngModel)]="currentBula.tipoDeFormulacao"
        #idTipoDeFormulacao="ngModel"
      >
      <option [value]="1">Suspoemulsão (SE)</option>
    </select>
      @if (idTipoDeFormulacao.errors && f.submitted) {
      <div class="invalid-feedback">
        @if (idTipoDeFormulacao.errors['required']) {
        <div>O Tipo de Formulação é obrigatório!</div>
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="idAlvoBiologico">Alvo Biológico</label>
      <select id="selectTipoCliente"
        class="form-control"
        name="idAlvoBiologico"
        [(ngModel)]="currentBula.idAlvoBiologico"
        #idAlvoBiologico="ngModel"
      >
      <option id="opcoesSelect" *ngFor="let alvoBiologico of dropdownDataAlvoBiologico" [value]="alvoBiologico.id">{{ alvoBiologico.nome }}</option>

    </select>
      @if (idAlvoBiologico.errors && f.submitted) {
      <div class="invalid-feedback">
        @if (idAlvoBiologico.errors['required']) {
        <div>Alvo Biológico é obrigatório!</div>
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="doseProdutoComercial">Dose Produto Comercial</label>
      <input
        type="number"
        class="form-control"
        name="doseProdutoComercial"
        [(ngModel)]="currentBula.doseProdutoComercial"
        required
        minlength="3"
        maxlength="20"
        #doseProdutoComercial="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && doseProdutoComercial.errors }"
      />
      @if (doseProdutoComercial.errors && f.submitted) {
      <div class="invalid-feedback">
        @if (doseProdutoComercial.errors['required']) {
        <div>A Dose Produto Comercial é obrigatório!</div>
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="adjuvante">Adjuvante</label>
      <input
        type="text"
        class="form-control"
        name="adjuvante"
        [(ngModel)]="currentBula.adjuvante"
        required
        minlength="3"
        maxlength="20"
        #adjuvante="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && adjuvante.errors }"
      />
      @if (adjuvante.errors && f.submitted) {
      <div class="invalid-feedback">
        @if (adjuvante.errors['required']) {
        <div>Adjuvante é obrigatório!</div>
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="idTipoDeServico">Tipo de Serviço</label>
      <select id="selectTipoCliente"
        class="form-control"
        name="idTipoDeServico"
        [(ngModel)]="currentBula.idTipoDeServico"
        #idTipoDeServico="ngModel"
      >
      <option [value]="1">Teste</option>
    </select>
      @if (idTipoDeServico.errors && f.submitted) {
      <div class="invalid-feedback">
        @if (idTipoDeServico.errors['required']) {
        <div>O Tipo de Serviço é obrigatório!</div>
        }
      </div>
      }
    </div>
    </form>
  
      <button id="btnRemover" class="btn btn-outline-secondary" (click)="deleteBula()">
        Remover
      </button>
  
      <button
        type="submit"
        class="btn btn-primary btn-block"
        (click)="updateBula()">
        Atualizar
      </button>
      <p>{{ message }}</p>
    </div>
            </div></div>
    } @else {<p>Não foi Possível Visualizar a Bula Selecionada...</p>}
  }