<div class="login">
    <div class="login-content">
        @if (!isSuccessful) {
          <h1 class="text-center">Cadastro de Adjuvante</h1>
        <form
          name="form"
          (ngSubmit)="f.form.valid"
          #f="ngForm"
          novalidate
        >
          <div class="mb-3">
            <label for="nome">Nome Adjuvante</label>
            <input
              type="text"
              class="form-control"
              name="nome"
              [(ngModel)]="form.nome"
              required
              minlength="3"
              maxlength="20"
              #adjuvante="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && adjuvante.errors }"
            />
            @if (adjuvante.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (adjuvante.errors['required']) {
              <div>O Nome do Adjuvante é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <button class="btn btn-primary btn-block">Cadastrar</button>
          </div>
    
          @if (f.submitted && isSignUpFailed) {
          <div class="alert alert-warning">
            Atenção!<br />{{ errorMessage }}
          </div>
          }
        </form>
        } @else {
        <div class="alert alert-success">Cadastro realizado com sucesso!</div>
        }
      </div>
    </div>