<div class="login">
    <div class="login-content">
        @if (!isSuccessful) {
          <h1 class="text-center">Cadastro de Aplicação Croqui Importação</h1>
        <form
          name="form"
          (ngSubmit)="f.form.valid"
          #f="ngForm"
          novalidate
        >
          <div class="mb-3">
            <label for="idAplicacaoCroqui">Id Aplicação Croqui</label>
            <input
              type="text"
              class="form-control"
              name="idAplicacaoCroqui"
              [(ngModel)]="form.idAplicacaoCroqui"
              required
              minlength="3"
              maxlength="20"
              #idAplicacaoCroqui="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idAplicacaoCroqui.errors }"
            />
            @if (idAplicacaoCroqui.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idAplicacaoCroqui.errors['required']) {
              <div>O Id da Aplicação Croqui obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="arquivo">Arquivo</label>
            <input
              type="file"
              class="form-control"
              name="arquivo"
              [(ngModel)]="form.arquivo"
              required
              minlength="3"
              maxlength="20"
              #arquivo="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && arquivo.errors }"
            />
            @if (arquivo.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (arquivo.errors['required']) {
              <div>O Arquivo é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <button class="btn btn-primary btn-block">Cadastrar</button>
          </div>
          @if (f.submitted && isSignUpFailed) {
          <div class="alert alert-warning">
            Atenção!<br />{{ errorMessage }}
          </div>
          }
        </form>
        } @else {
        <div class="alert alert-success">Cadastro realizado com sucesso!</div>
        }
      </div>
    </div>