<div class="login">
    <div class="login-content">
        @if (!isSuccessful) {
          <h1 class="text-center">Cadastro de Combate Incêncio</h1>
        <form
          name="form"
          (ngSubmit)="f.form.valid"
          #f="ngForm"
          novalidate
        >
        <div class="mb-3">
            <label for="idEmpresa">Id Empresa</label>
            <input
              type="text"
              class="form-control"
              name="idEmpresa"
              [(ngModel)]="form.idEmpresa"
              required
              minlength="3"
              maxlength="20"
              #idEmpresa="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idEmpresa.errors }"
            />
            @if (idEmpresa.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idEmpresa.errors['required']) {
              <div>O Id Empresa é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="idExecutor">Id Executor</label>
            <input
              type="text"
              class="form-control"
              name="idExecutor"
              [(ngModel)]="form.idExecutor"
              required
              minlength="3"
              maxlength="20"
              #idExecutor="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idExecutor.errors }"
            />
            @if (idExecutor.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idExecutor.errors['required']) {
              <div>O Id Executor é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="aviso">Aviso</label>
            <input
              type="text"
              class="form-control"
              name="aviso"
              [(ngModel)]="form.aviso"
              required
              minlength="3"
              maxlength="20"
              #aviso="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && aviso.errors }"
            />
            @if (aviso.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (aviso.errors['required']) {
              <div>O Aviso é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="idAeronave">Id Aeronave</label>
            <input
              type="text"
              class="form-control"
              name="idAeronave"
              [(ngModel)]="form.idAeronave"
              required
              minlength="3"
              maxlength="20"
              #idAeronave="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idAeronave.errors }"
            />
            @if (idAeronave.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idAeronave.errors['required']) {
              <div>O Id Aeronave é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="idPista">Id Pista</label>
            <input
              type="text"
              class="form-control"
              name="idPista"
              [(ngModel)]="form.idPista"
              required
              minlength="3"
              maxlength="20"
              #idPista="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idPista.errors }"
            />
            @if (idPista.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idPista.errors['required']) {
              <div>O Id Pista é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="data">Data</label>
            <input
              type="datetime"
              class="form-control"
              name="data"
              [(ngModel)]="form.data"
              required
              minlength="3"
              maxlength="20"
              #data="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && data.errors }"
            />
            @if (data.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (data.errors['required']) {
              <div>A Data é obrigatória!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="horaInicial">Hora Inícial</label>
            <input
              type="time"
              class="form-control"
              name="horaInicial"
              [(ngModel)]="form.horaInicial"
              required
              minlength="3"
              maxlength="20"
              #horaInicial="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && horaInicial.errors }"
            />
            @if (horaInicial.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (horaInicial.errors['required']) {
              <div>A hora inícial é obrigatória!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="horimetroAviao">Horimetro Avião</label>
            <input
              type="text"
              class="form-control"
              name="horimetroAviao"
              [(ngModel)]="form.horimetroAviao"
              required
              minlength="3"
              maxlength="20"
              #horimetroAviao="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && horimetroAviao.errors }"
            />
            @if (horimetroAviao.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (horimetroAviao.errors['required']) {
              <div>O Horimetro Avião é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="localIncendioLat">Local Incêndio LAT</label>
            <input
              type="text"
              class="form-control"
              name="localIncendioLat"
              [(ngModel)]="form.localIncendioLat"
              required
              minlength="3"
              maxlength="20"
              #localIncendioLat="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && localIncendioLat.errors }"
            />
            @if (localIncendioLat.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (localIncendioLat.errors['required']) {
              <div>O Local Incêncio LAT é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="localIncendioLon">Local Incêndio LON</label>
            <input
              type="text"
              class="form-control"
              name="localIncendioLon"
              [(ngModel)]="form.localIncendioLon"
              required
              minlength="3"
              maxlength="20"
              #localIncendioLon="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && localIncendioLon.errors }"
            />
            @if (localIncendioLon.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (localIncendioLon.errors['required']) {
                <div>O Local Incêncio LON é obrigatório!</div>
            }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="referencia">Referência</label>
            <input
              type="text"
              class="form-control"
              name="referencia"
              [(ngModel)]="form.referencia"
              required
              minlength="3"
              maxlength="20"
              #referencia="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && referencia.errors }"
            />
            @if (referencia.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (referencia.errors['required']) {
              <div>A Referência é obrigatória!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="horarioFinalOperacao">Horário Final Operação</label>
            <input
              type="time"
              class="form-control"
              name="horarioFinalOperacao"
              [(ngModel)]="form.horarioFinalOperacao"
              required
              minlength="3"
              maxlength="20"
              #horarioFinalOperacao="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && horarioFinalOperacao.errors }"
            />
            @if (horarioFinalOperacao.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (horarioFinalOperacao.errors['required']) {
              <div>O Horário Final Operação é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="horimetroFinalOperacao">Horimêtro Final Operação</label>
            <input
              type="text"
              class="form-control"
              name="horimetroFinalOperacao"
              [(ngModel)]="form.horimetroFinalOperacao"
              required
              minlength="3"
              maxlength="20"
              #horimetroFinalOperacao="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && horimetroFinalOperacao.errors }"
            />
            @if (horimetroFinalOperacao.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (horimetroFinalOperacao.errors['required']) {
                <div>O Horimetro Final Operação é obrigatório!</div>
            }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="totalAguaUtilizadaOperacao">Total Água Utilizada Operação</label>
            <input
              type="text"
              class="form-control"
              name="totalAguaUtilizadaOperacao"
              [(ngModel)]="form.totalAguaUtilizadaOperacao"
              required
              minlength="3"
              maxlength="20"
              #totalAguaUtilizadaOperacao="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && totalAguaUtilizadaOperacao.errors }"
            />
            @if (totalAguaUtilizadaOperacao.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (totalAguaUtilizadaOperacao.errors['required']) {
              <div>O Total de Água Utilizada Operação é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="coordenadorBaseOperacionalNome">Coordenador Base Operacional Nome</label>
            <input
              type="text"
              class="form-control"
              name="coordenadorBaseOperacionalNome"
              [(ngModel)]="form.coordenadorBaseOperacionalNome"
              required
              minlength="3"
              maxlength="20"
              #coordenadorBaseOperacionalNome="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && coordenadorBaseOperacionalNome.errors }"
            />
            @if (coordenadorBaseOperacionalNome.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (coordenadorBaseOperacionalNome.errors['required']) {
              <div>Coordenador Base Operacional Nome é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="coordenadorBaseOperacionalPosto">Coordenador Base Operacional Posto</label>
            <input
              type="text"
              class="form-control"
              name="coordenadorBaseOperacionalPosto"
              [(ngModel)]="form.coordenadorBaseOperacionalPosto"
              required
              minlength="3"
              maxlength="20"
              #coordenadorBaseOperacionalPosto="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && coordenadorBaseOperacionalPosto.errors }"
            />
            @if (coordenadorBaseOperacionalPosto.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (coordenadorBaseOperacionalPosto.errors['required']) {
              <div>Coordenador Base Operacional Posto é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="coordenadorBaseOperacionalRE">Coordenador Base Operacional RE</label>
            <input
              type="text"
              class="form-control"
              name="coordenadorBaseOperacionalRE"
              [(ngModel)]="form.coordenadorBaseOperacionalRE"
              required
              minlength="3"
              maxlength="20"
              #coordenadorBaseOperacionalRE="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && coordenadorBaseOperacionalRE.errors }"
            />
            @if (coordenadorBaseOperacionalRE.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (coordenadorBaseOperacionalRE.errors['required']) {
              <div>Coordenador Base Operacional RE é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="coordenadorBaseOperacionalAssinatura">Coordenador Base Operacional Assinatura</label>
            <input
              type="text"
              class="form-control"
              name="coordenadorBaseOperacionalAssinatura"
              [(ngModel)]="form.coordenadorBaseOperacionalAssinatura"
              required
              minlength="3"
              maxlength="20"
              #coordenadorBaseOperacionalAssinatura="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && coordenadorBaseOperacionalAssinatura.errors }"
            />
            @if (coordenadorBaseOperacionalAssinatura.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (coordenadorBaseOperacionalAssinatura.errors['required']) {
              <div>Coordenador Base Operacional Assinatura é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="comandanteOcorrenciaNome">Comandante Ocorrência Nome</label>
            <input
              type="text"
              class="form-control"
              name="comandanteOcorrenciaNome"
              [(ngModel)]="form.comandanteOcorrenciaNome"
              required
              minlength="3"
              maxlength="20"
              #comandanteOcorrenciaNome="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && comandanteOcorrenciaNome.errors }"
            />
            @if (comandanteOcorrenciaNome.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (comandanteOcorrenciaNome.errors['required']) {
              <div>Comandante Ocorrência Nome é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="comandanteOcorrenciaPosto">Comandante Ocorrência Posto</label>
            <input
              type="text"
              class="form-control"
              name="comandanteOcorrenciaPosto"
              [(ngModel)]="form.comandanteOcorrenciaPosto"
              required
              minlength="3"
              maxlength="20"
              #comandanteOcorrenciaPosto="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && comandanteOcorrenciaPosto.errors }"
            />
            @if (comandanteOcorrenciaPosto.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (comandanteOcorrenciaPosto.errors['required']) {
              <div>Comandante Ocorrência Posto é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="comandanteOcorrenciaRE">Comandante Ocorrência RE</label>
            <input
              type="text"
              class="form-control"
              name="comandanteOcorrenciaRE"
              [(ngModel)]="form.comandanteOcorrenciaRE"
              required
              minlength="3"
              maxlength="20"
              #comandanteOcorrenciaRE="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && comandanteOcorrenciaRE.errors }"
            />
            @if (comandanteOcorrenciaRE.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (comandanteOcorrenciaRE.errors['required']) {
              <div>Comandante Ocorrência RE é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="comandanteOcorrenciaAssinatura">Comandante Ocorrência Assinatura</label>
            <input
              type="text"
              class="form-control"
              name="comandanteOcorrenciaAssinatura"
              [(ngModel)]="form.comandanteOcorrenciaAssinatura"
              required
              minlength="3"
              maxlength="20"
              #comandanteOcorrenciaAssinatura="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && comandanteOcorrenciaAssinatura.errors }"
            />
            @if (comandanteOcorrenciaAssinatura.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (comandanteOcorrenciaAssinatura.errors['required']) {
              <div>Comandante Ocorrência Assinatura obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="responsavelOcorrenciaNome">Responsável Ocorrência Nome</label>
            <input
              type="text"
              class="form-control"
              name="responsavelOcorrenciaNome"
              [(ngModel)]="form.responsavelOcorrenciaNome"
              required
              minlength="3"
              maxlength="20"
              #responsavelOcorrenciaNome="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && responsavelOcorrenciaNome.errors }"
            />
            @if (responsavelOcorrenciaNome.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (responsavelOcorrenciaNome.errors['required']) {
              <div>Responsável ocorrência Nome é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="responsavelOcorrenciaPosto">Responsável Ocorrência Posto</label>
            <input
              type="text"
              class="form-control"
              name="responsavelOcorrenciaPosto"
              [(ngModel)]="form.responsavelOcorrenciaPosto"
              required
              minlength="3"
              maxlength="20"
              #responsavelOcorrenciaPosto="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && responsavelOcorrenciaPosto.errors }"
            />
            @if (responsavelOcorrenciaPosto.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (responsavelOcorrenciaPosto.errors['required']) {
              <div>Responsável ocorrência Posto é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="responsavelOcorrenciaRE">Responsável Ocorrência RE</label>
            <input
              type="text"
              class="form-control"
              name="responsavelOcorrenciaRE"
              [(ngModel)]="form.responsavelOcorrenciaRE"
              required
              minlength="3"
              maxlength="20"
              #responsavelOcorrenciaRE="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && responsavelOcorrenciaRE.errors }"
            />
            @if (responsavelOcorrenciaRE.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (responsavelOcorrenciaRE.errors['required']) {
              <div>Responsável ocorrência RE é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="responsavelOcorrenciaAssinatura">Responsável Ocorrência Assinatura</label>
            <input
              type="text"
              class="form-control"
              name="responsavelOcorrenciaAssinatura"
              [(ngModel)]="form.responsavelOcorrenciaAssinatura"
              required
              minlength="3"
              maxlength="20"
              #responsavelOcorrenciaAssinatura="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && responsavelOcorrenciaAssinatura.errors }"
            />
            @if (responsavelOcorrenciaAssinatura.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (responsavelOcorrenciaAssinatura.errors['required']) {
              <div>Responsável ocorrência Assinatura é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <button class="btn btn-primary btn-block">Cadastrar</button>
          </div>
          @if (f.submitted && isSignUpFailed) {
          <div class="alert alert-warning">
            Atenção!<br />{{ errorMessage }}
          </div>
          }
        </form>
        } @else {
        <div class="alert alert-success">Cadastro realizado com sucesso!</div>
        }
      </div>
    </div>