<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/84cb94ad-c12b-4a04-8f19-ea1377139122/resourceGroups/flytec_group/providers/Microsoft.Web/sites/flytec</ResourceId>
    <ResourceGroup>flytec_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://flytec.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8bdfd392-7070-45ae-a775-ad0c5ba524d8</ProjectGuid>
    <PublishUrl>https://flytec.scm.azurewebsites.net/</PublishUrl>
    <UserName>$flytec</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>