<div class="login">
    <div class="login-content">
        @if (!isSuccessful) {
          <h1 class="text-center">Cadastro de Aplicação Recomendações Técnicas</h1>
        <form
          name="form"
          (ngSubmit)="f.form.valid"
          #f="ngForm"
          novalidate
        >
          <div class="mb-3">
            <label for="idAplicacao">Id Aplicação</label>
            <input
              type="text"
              class="form-control"
              name="idAplicacao"
              [(ngModel)]="form.idAplicacao"
              required
              minlength="3"
              maxlength="20"
              #idAplicacao="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idAplicacao.errors }"
            />
            @if (idAplicacao.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idAplicacao.errors['required']) {
              <div>O Id da Aplicação obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="idVeiculante">Id Veiculante</label>
            <input
              type="text"
              class="form-control"
              name="idVeiculante"
              [(ngModel)]="form.idVeiculante"
              required
              minlength="3"
              maxlength="20"
              #idVeiculante="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idVeiculante.errors }"
            />
            @if (idVeiculante.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idVeiculante.errors['required']) {
              <div>O Id do Veiculante é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="qtdeVeiculante">Quantidade Veiculante</label>
            <input
              type="text"
              class="form-control"
              name="qtdeVeiculante"
              [(ngModel)]="form.qtdeVeiculante"
              required
              minlength="3"
              maxlength="20"
              #qtdeVeiculante="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && qtdeVeiculante.errors }"
            />
            @if (qtdeVeiculante.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (qtdeVeiculante.errors['required']) {
              <div>A Quantidade Veiculante é obrigatória!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="larguraFaixa">Largura Faixa</label>
            <input
              type="text"
              class="form-control"
              name="larguraFaixa"
              [(ngModel)]="form.larguraFaixa"
              required
              minlength="3"
              maxlength="20"
              #larguraFaixa="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && larguraFaixa.errors }"
            />
            @if (larguraFaixa.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (larguraFaixa.errors['required']) {
              <div>A Largura Faixa é obrigatória!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="volumeAplicacao">Volume Aplicação</label>
            <input
              type="text"
              class="form-control"
              name="volumeAplicacao"
              [(ngModel)]="form.volumeAplicacao"
              required
              minlength="3"
              maxlength="20"
              #volumeAplicacao="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && volumeAplicacao.errors }"
            />
            @if (volumeAplicacao.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (volumeAplicacao.errors['required']) {
              <div>O Volume Aplicação é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="idAeronave">Id Aeronave</label>
            <input
              type="text"
              class="form-control"
              name="idAeronave"
              [(ngModel)]="form.idAeronave"
              required
              minlength="3"
              maxlength="20"
              #idAeronave="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idAeronave.errors }"
            />
            @if (idAeronave.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idAeronave.errors['required']) {
              <div>O Id da Aeronave é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="idAlturaVoo">Id Altura Voo</label>
            <input
              type="text"
              class="form-control"
              name="idAlturaVoo"
              [(ngModel)]="form.idAlturaVoo"
              required
              minlength="3"
              maxlength="20"
              #idAlturaVoo="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idAlturaVoo.errors }"
            />
            @if (idAlturaVoo.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idAlturaVoo.errors['required']) {
              <div>O Id Altura Voo é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="alturaVooCustom">Altura Voo Custom</label>
            <input
              type="text"
              class="form-control"
              name="alturaVooCustom"
              [(ngModel)]="form.alturaVooCustom"
              required
              minlength="3"
              maxlength="20"
              #alturaVooCustom="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && alturaVooCustom.errors }"
            />
            @if (alturaVooCustom.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (alturaVooCustom.errors['required']) {
              <div>O Altura Voo Custom é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="temperatura">Temperatura</label>
            <input
              type="text"
              class="form-control"
              name="temperatura"
              [(ngModel)]="form.temperatura"
              required
              minlength="3"
              maxlength="20"
              #temperatura="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && temperatura.errors }"
            />
            @if (temperatura.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (temperatura.errors['required']) {
              <div>A Temperatura é obrigatória!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="urDoAR">UR Do AR</label>
            <input
              type="text"
              class="form-control"
              name="urDoAR"
              [(ngModel)]="form.urDoAR"
              required
              minlength="3"
              maxlength="20"
              #urDoAR="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && urDoAR.errors }"
            />
            @if (urDoAR.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (urDoAR.errors['required']) {
              <div>A UR do Ar é obrigatória!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="velocidadeVento">Velocidade Vento</label>
            <input
              type="text"
              class="form-control"
              name="velocidadeVento"
              [(ngModel)]="form.velocidadeVento"
              required
              minlength="3"
              maxlength="20"
              #velocidadeVento="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && velocidadeVento.errors }"
            />
            @if (velocidadeVento.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (velocidadeVento.errors['required']) {
              <div>A Velocidade do Vento é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="idTipoDeProduto">Id Tipo De Produto</label>
            <input
              type="text"
              class="form-control"
              name="idTipoDeProduto"
              [(ngModel)]="form.idTipoDeProduto"
              required
              minlength="3"
              maxlength="20"
              #idTipoDeProduto="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idTipoDeProduto.errors }"
            />
            @if (idTipoDeProduto.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idTipoDeProduto.errors['required']) {
              <div>O Id do Tipo de Produto é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="idEquipamento">Id Equipamento</label>
            <input
              type="text"
              class="form-control"
              name="idEquipamento"
              [(ngModel)]="form.idEquipamento"
              required
              minlength="3"
              maxlength="20"
              #idEquipamento="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idEquipamento.errors }"
            />
            @if (idEquipamento.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idEquipamento.errors['required']) {
              <div>O Id do Equipamento é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="angulo">Ângulo</label>
            <input
              type="text"
              class="form-control"
              name="angulo"
              [(ngModel)]="form.angulo"
              required
              minlength="3"
              maxlength="20"
              #angulo="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && angulo.errors }"
            />
            @if (angulo.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (angulo.errors['required']) {
              <div>O Ângulo é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <button class="btn btn-primary btn-block">Cadastrar</button>
          </div>
          @if (f.submitted && isSignUpFailed) {
          <div class="alert alert-warning">
            Atenção!<br />{{ errorMessage }}
          </div>
          }
        </form>
        } @else {
        <div class="alert alert-success">Cadastro realizado com sucesso!</div>
        }
      </div>
    </div>