<div class="login">
    <div class="login-content">
        @if (!isSuccessful) {
          <h1 class="text-center">Cadastro de Aplicação Croqui</h1>
        <form
          name="form"
          (ngSubmit)="f.form.valid"
          #f="ngForm"
          novalidate
        >
          <div class="mb-3">
            <label for="idAplicacao">Id Aplicação</label>
            <input
              type="text"
              class="form-control"
              name="idAplicacao"
              [(ngModel)]="form.idAplicacao"
              required
              minlength="3"
              maxlength="20"
              #idAplicacao="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idAplicacao.errors }"
            />
            @if (idAplicacao.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idAplicacao.errors['required']) {
              <div>O Id da Aplicação obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="desenho">Desenho</label>
            <input
              type="text"
              class="form-control"
              name="desenho"
              [(ngModel)]="form.desenho"
              required
              minlength="3"
              maxlength="20"
              #desenho="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && desenho.errors }"
            />
            @if (desenho.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (desenho.errors['required']) {
              <div>O Desenho é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="idMapa">Id Mapa</label>
            <input
              type="text"
              class="form-control"
              name="idMapa"
              [(ngModel)]="form.idMapa"
              required
              minlength="3"
              maxlength="20"
              #idMapa="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && idMapa.errors }"
            />
            @if (idMapa.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idMapa.errors['required']) {
              <div>O Id do Mapa é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="latitude">Latitude</label>
            <input
              type="text"
              class="form-control"
              name="latitude"
              [(ngModel)]="form.latitude"
              required
              minlength="3"
              maxlength="20"
              #latitude="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && latitude.errors }"
            />
            @if (latitude.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (latitude.errors['required']) {
              <div>A Latitude é obrigatória!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="longitude">Longitude</label>
            <input
              type="text"
              class="form-control"
              name="longitude"
              [(ngModel)]="form.longitude"
              required
              minlength="3"
              maxlength="20"
              #longitude="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && longitude.errors }"
            />
            @if (longitude.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (longitude.errors['required']) {
              <div>A Longitude é obrigatória!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <button class="btn btn-primary btn-block">Cadastrar</button>
          </div>
    
          @if (f.submitted && isSignUpFailed) {
          <div class="alert alert-warning">
            Atenção!<br />{{ errorMessage }}
          </div>
          }
        </form>
        } @else {
        <div class="alert alert-success">Cadastro realizado com sucesso!</div>
        }
      </div>
    </div>