<app-navbar></app-navbar>
<div class="list row" id="listaClientes">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Pesquisar por Nome de Cliente"
          [(ngModel)]="nome"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
          >
            Pesquisar
          </button>
        </div>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
          >
          <a href="/novoCliente">Novo Cliente</a>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Listagem de Clientes</h4>
      <ul class="list-group">
        @for (cliente of clientes; track cliente.idCliente; let i = $index) {
        <li
          class="list-group-item"
          [class.active]="i == currentIndex"
          (click)="setActiveCliente(cliente, i)"
          
        >
          {{ cliente.nomeCliente }}
        </li>
        }
      </ul>
    </div>
    <div class="col-md-6">
      <app-clientes-details
        [viewMode]="true"
        [currentCliente]="currentCliente"
      ></app-clientes-details>
    </div>
  </div>