@if (viewMode){
    @if (currentVeiculante.idVeiculante){
    <h4>Veiculante</h4>
    <div>
      <label><strong>Nome:</strong></label> {{ currentVeiculante.nome }}
    </div>

    <a class="badge badge-warning" routerLink="/veiculante/{{ currentVeiculante.idVeiculante }}">
      Editar
    </a>
    } @else {<p>Selecione um Veículante...</p>}
  } @else {
    @if (currentVeiculante.idVeiculante) {
        <div class="login">
            <div class="login-content">
    <div class="edit-form">
      <h4>Edição de Veículante</h4>
      <form
          name="form"
          (ngSubmit)="f.form.valid"
          #f="ngForm"
          novalidate
        >
          <div class="mb-3">
            <label for="nome">Nome Veículante</label>
            <input
              type="text"
              class="form-control"
              name="nome"
              [(ngModel)]="currentVeiculante.nome"
              required
              minlength="3"
              maxlength="20"
              #nome="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && nome.errors }"
            />
            @if (nome.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (nome.errors['required']) {
              <div>O Nome do Veículante é obrigatório!</div>
              }
            </div>
            }
          </div>
        </form>
  
      <button id="btnRemover" class="btn btn-outline-secondary" (click)="deleteVeiculante()">
        Remover
      </button>
  
      <button
        type="submit"
        class="btn btn-primary btn-block"
        (click)="updateVeiculante()">
        Atualizar
      </button>
      <p>{{ message }}</p>
    </div>
            </div></div>
    } @else {<p>Não foi Possível Visualizar o Veículante Selecionado...</p>}
  }