@if (viewMode){
    @if (currentCliente.idCliente){
    <h4>Cliente</h4>
    <div>
      <label><strong>Nome:</strong></label> {{ currentCliente.nomeCliente }}
    </div>
    <div>
      <label><strong>Email:</strong></label>
      {{ currentCliente.email }}
    </div>
  
    <a class="badge badge-warning" routerLink="/cliente/{{ currentCliente.idCliente }}">
      Editar
    </a>
    } @else {<p>Selecione um Cliente...</p>}
  } @else {
    @if (currentCliente.idCliente) {
        <div class="login">
            <div class="login-content">
    <div class="edit-form">
      <h4>Edição de Cliente</h4>
      <form
          name="form"
          #f="ngForm"
          novalidate
        >
          <div class="mb-3">
            <label for="nomeCliente">Nome Cliente</label>
            <input
              type="text"
              class="form-control"
              name="nomeCliente"
              [(ngModel)]="currentCliente.nomeCliente"
              required
              minlength="3"
              maxlength="20"
              #nomeCliente="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && nomeCliente.errors }"
            />
            @if (nomeCliente.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (nomeCliente.errors['required']) {
              <div>O Nome do Cliente é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="idTipoCliente">Tipo Cliente</label>
            <select id="selectTipoCliente"
              class="form-control"
              name="idTipoCliente"
              [(ngModel)]="currentCliente.idTipoCliente"
              #idTipoCliente="ngModel"
            >
            <option [value]="1">CNPJ e INCSRIÇÃO ESTADUAL</option>
            <option [value]="2">CPF e RG</option>
            <option [value]="3">INSCRIÇÃO ESTADUAL e CPF</option>
          </select>
            @if (idTipoCliente.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (idTipoCliente.errors['required']) {
              <div>O Tipo Cliente é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="cpf">CPF</label>
            <input
              type="text"
              class="form-control"
              name="cpf"
              [(ngModel)]="currentCliente.cpf"
              required
              minlength="3"
              maxlength="20"
              #cpf="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && cpf.errors }"
            />
            @if (cpf.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (cpf.errors['required']) {
              <div>O CPF é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="rg">RG</label>
            <input
              type="text"
              class="form-control"
              name="rg"
              [(ngModel)]="currentCliente.rg"
              required
              minlength="3"
              maxlength="20"
              #rg="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && rg.errors }"
            />
            @if (rg.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (rg.errors['required']) {
              <div>O RG é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="cnpj">CNPJ</label>
            <input
              type="text"
              class="form-control"
              name="cnpj"
              [(ngModel)]="currentCliente.cnpj"
              required
              minlength="3"
              maxlength="20"
              #cnpj="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && cnpj.errors }"
            />
            @if (cnpj.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (cnpj.errors['required']) {
              <div>O CNPJ é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="inscricaoEstadual">Inscrição Estadual</label>
            <input
              type="text"
              class="form-control"
              name="inscricaoEstadual"
              [(ngModel)]="currentCliente.inscricaoEstadual"
              required
              minlength="3"
              maxlength="20"
              #inscricaoEstadual="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && inscricaoEstadual.errors }"
            />
            @if (inscricaoEstadual.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (inscricaoEstadual.errors['required']) {
              <div>A Inscrição Estadual é obrigatória!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="endereco">Endereço</label>
            <input
              type="text"
              class="form-control"
              name="endereco"
              [(ngModel)]="currentCliente.endereco"
              required
              minlength="3"
              maxlength="20"
              #endereco="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && endereco.errors }"
            />
            @if (endereco.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (endereco.errors['required']) {
              <div>O Endereço é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="telefone1">Telefone 1</label>
            <input
              type="text"
              class="form-control"
              name="telefone1"
              [(ngModel)]="currentCliente.telefone1"
              required
              minlength="3"
              maxlength="20"
              #telefone1="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && telefone1.errors }"
            />
            @if (telefone1.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (telefone1.errors['required']) {
              <div>O Telefone 1 é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="telefone2">Telefone 2</label>
            <input
              type="text"
              class="form-control"
              name="telefone2"
              [(ngModel)]="currentCliente.telefone2"
              required
              minlength="3"
              maxlength="20"
              #telefone2="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && telefone2.errors }"
            />
            @if (telefone2.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (telefone2.errors['required']) {
              <div>O Telefone 2 é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              [(ngModel)]="currentCliente.email"
              required
              minlength="3"
              maxlength="20"
              #email="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
            />
            @if (email.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (email.errors['required']) {
              <div>O Email é obrigatório!</div>
              }
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="senha">Senha</label>
            <input
              type="text"
              class="form-control"
              name="senha"
              [(ngModel)]="currentCliente.senha"
              required
              minlength="3"
              maxlength="20"
              #senha="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && senha.errors }"
            />
            @if (senha.errors && f.submitted) {
            <div class="invalid-feedback">
              @if (senha.errors['required']) {
              <div>A senha é obrigatória!</div>
              }
            </div>
            }
          </div>
        </form>
  
      <!-- @if (currentTutorial.published) {
      <button class="badge badge-primary mr-2"
        (click)="updatePublished(false)" >
        UnPublish
      </button>
      } @else {
      <button class="badge badge-primary mr-2" (click)="updatePublished(true)">
        Publish
      </button>
      } -->
  
      <button id="btnRemover" class="btn btn-outline-secondary" (click)="deleteCliente()">
        Remover
      </button>
  
      <button
        type="submit"
        class="btn btn-primary btn-block"
        (click)="updateCliente()">
        Atualizar
      </button>
      <p>{{ message }}</p>
    </div>
            </div></div>
    } @else {<p>Não foi Possível Visualizar o Cliente Selecionado...</p>}
  }