<app-navbar></app-navbar>
<div class="list row" id="lista">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Pesquisar por Nome de Cultura"
          [(ngModel)]="nome"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
          >
            Pesquisar
          </button>
        </div>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
          >
          <a href="/novaCultura">Nova Cultura</a>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Listagem de Culturas</h4>
      <ul class="list-group">
        @for (cultura of culturas; track cultura.idCultura; let i = $index) {
        <li
          class="list-group-item"
          [class.active]="i == currentIndex"
          (click)="setActiveCultura(cultura, i)"
          
        >
          {{ cultura.nome }}
        </li>
        }
      </ul>
    </div>
    <div class="col-md-6">
      <app-cultura-details
        [viewMode]="true"
        [currentCultura]="currentCultura"
      ></app-cultura-details>
    </div>
  </div>