<app-navbar></app-navbar>
<div class="list row" id="lista">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Pesquisar por Nome de Veículante"
          [(ngModel)]="nome"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
          >
            Pesquisar
          </button>
        </div>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
          >
          <a href="/novoVeiculante">Novo Veículante</a>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Listagem de Veículantes</h4>
      <ul class="list-group">
        @for (veiculante of veiculantes; track veiculante.idVeiculante; let i = $index) {
        <li
          class="list-group-item"
          [class.active]="i == currentIndex"
          (click)="setActiveVeiculante(veiculante, i)"
          
        >
          {{ veiculante.nome }}
        </li>
        }
      </ul>
    </div>
    <div class="col-md-6">
      <app-veiculante-details
        [viewMode]="true"
        [currentVeiculante]="currentVeiculante"
      ></app-veiculante-details>
    </div>
  </div>