<app-navbar></app-navbar>
<div class="list row" id="lista">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Pesquisar por Nome de Alvo Biológico"
          [(ngModel)]="nome"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
          >
            Pesquisar
          </button>
        </div>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
          >
          <a href="/novoAlvoBiologico">Novo Alvo Biológico</a>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Listagem de Alvos Biológicos</h4>
      <ul class="list-group">
        @for (alvoBiologico of alvosBiologicos; track alvoBiologico.id; let i = $index) {
        <li
          class="list-group-item"
          [class.active]="i == currentIndex"
          (click)="setActiveAlvoBiologico(alvoBiologico, i)"
          
        >
          {{ alvoBiologico.nome }}
        </li>
        }
      </ul>
    </div>
    <div class="col-md-6">
      <app-alvo-biologico-details
        [viewMode]="true"
        [currentAlvoBiologico]="currentAlvoBiologico"
      ></app-alvo-biologico-details>
    </div>
  </div>