@if (viewMode){
    @if (currentAplicacao.id){
    <h4>Aplicação</h4>
    <div>
      <label><strong>Status:</strong></label> {{ currentAplicacao.statusEnvio }}
    </div>
  
    <a class="badge badge-warning" routerLink="/aplicacao/{{ currentAplicacao.id }}">
      Editar
    </a>
    } @else {<p>Selecione uma Aplicação...</p>}
  } @else {
    @if (currentAplicacao.id) {
        <div class="login">
            <div class="login-content">
    <div class="edit-form">
      <h4>Edição de Aplicação</h4>
      <form
      name="form"
      (ngSubmit)="f.form.valid"
      #f="ngForm"
      novalidate
    >
    <div class="mb-3">
      <label for="idEmpresa">Empresa</label>
      <select id="selectTipoCliente"
        class="form-control"
        name="idEmpresa"
        [(ngModel)]="currentAplicacao.idEmpresa"
        #idEmpresa="ngModel"
      >
      <option id="opcoesSelect" *ngFor="let empresa of dropdownDataEmpresa" [value]="empresa.idEmpresa">{{ empresa.nome }}</option>

    </select>
      @if (idEmpresa.errors && f.submitted) {
      <div class="invalid-feedback">
        @if (idEmpresa.errors['required']) {
        <div>Empresa é obrigatório!</div>
        }
      </div>
      }
    </div>
      <div class="mb-3">
        <label for="prefixo">Status Envio</label>
        <input
          type="text"
          class="form-control"
          name="prefixo"
          [(ngModel)]="currentAplicacao.statusEnvio"
          required
          minlength="3"
          maxlength="20"
          #aeronave="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && aeronave.errors }"
        />
        @if (aeronave.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (aeronave.errors['required']) {
          <div>O Status Envio é obrigatório!</div>
          }
        </div>
        }
      </div>
      <div class="mb-3">
        <label for="idPiloto">Piloto</label>
        <select id="selectTipoCliente"
          class="form-control"
          name="idPiloto"
          [(ngModel)]="currentAplicacao.idPiloto"
          #idPiloto="ngModel"
        >
        <option id="opcoesSelect" *ngFor="let piloto of dropdownDataPiloto" [value]="piloto.idPiloto">{{ piloto.nomePiloto }}</option>

      </select>
        @if (idPiloto.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (idPiloto.errors['required']) {
          <div>Piloto é obrigatório!</div>
          }
        </div>
        }
      </div>
      <div class="mb-3">
        <label for="idExecutor">Executor</label>
        <select id="selectTipoCliente"
          class="form-control"
          name="idExecutor"
          [(ngModel)]="currentAplicacao.idExecutor"
          #idExecutor="ngModel"
        >
        <option id="opcoesSelect" *ngFor="let executor of dropdownDataExecutor" [value]="executor.idExecutor">{{ executor.nome }}</option>

      </select>
        @if (idExecutor.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (idExecutor.errors['required']) {
          <div>Executor é obrigatório!</div>
          }
        </div>
        }
      </div>
      <div class="mb-3">
        <label for="idCliente">Cliente</label>
        <select id="selectTipoCliente"
          class="form-control"
          name="idCliente"
          [(ngModel)]="currentAplicacao.idCliente"
          #idCliente="ngModel"
        >
        <option id="opcoesSelect" *ngFor="let cliente of dropdownDataCliente" [value]="cliente.idCliente">{{ cliente.nomeCliente }}</option>

      </select>
        @if (idCliente.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (idCliente.errors['required']) {
          <div>Cliente é obrigatório!</div>
          }
        </div>
        }
      </div>
      <div class="mb-3">
        <label for="idCultura">Cultura</label>
        <select id="selectTipoCliente"
          class="form-control"
          name="idCultura"
          [(ngModel)]="currentAplicacao.idCultura"
          #idCultura="ngModel"
        >
        <option id="opcoesSelect" *ngFor="let cultura of dropdownDataCultura" [value]="cultura.idCultura">{{ cultura.nome }}</option>

      </select>
        @if (idCultura.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (idCultura.errors['required']) {
          <div>Cultura é obrigatório!</div>
          }
        </div>
        }
      </div>
    </form>
  
      <button id="btnRemover" class="btn btn-outline-secondary" (click)="deleteAplicacao()">
        Remover
      </button>
  
      <button
        type="submit"
        class="btn btn-primary btn-block"
        (click)="updateAplicacao()">
        Atualizar
      </button>
      <p>{{ message }}</p>
    </div>
            </div></div>
    } @else {<p>Não foi Possível Visualizar a Aplicação Selecionada...</p>}
  }