<app-navbar></app-navbar>
<div class="list row" id="lista">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Pesquisar por Nome de Adjuvante"
          [(ngModel)]="nome"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
          >
            Pesquisar
          </button>
        </div>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
          >
          <a href="/novoAdjuvante">Novo Adjuvante</a>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Listagem de Adjuvantes</h4>
      <ul class="list-group">
        @for (adjuvante of adjuvantes; track adjuvante.id; let i = $index) {
        <li
          class="list-group-item"
          [class.active]="i == currentIndex"
          (click)="setActiveAdjuvante(adjuvante, i)"
          
        >
          {{ adjuvante.nome }}
        </li>
        }
      </ul>
    </div>
    <div class="col-md-6">
      <app-adjuvante-details
        [viewMode]="true"
        [currentAdjuvante]="currentAdjuvante"
      ></app-adjuvante-details>
    </div>
  </div>