<app-navbar></app-navbar>
<div class="list row" id="lista">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Pesquisar por Nome do Produto"
          [(ngModel)]="nome"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
          >
            Pesquisar
          </button>
        </div>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
          >
          <a href="/novaBula">Nova Bula</a>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Listagem de Bulas</h4>
      <ul class="list-group">
        @for (bula of bulas; track bula.idBula; let i = $index) {
        <li
          class="list-group-item"
          [class.active]="i == currentIndex"
          (click)="setActiveBula(bula, i)"
          
        >
          {{ bula.nomeProduto }}
        </li>
        }
      </ul>
    </div>
    <div class="col-md-6">
      <app-bula-details
        [viewMode]="true"
        [currentBula]="currentBula"
      ></app-bula-details>
    </div>
  </div>